body {
    font-family: 'Paytone One', sans-serif;
    background-color: antiquewhite;
}

.center {
    margin: auto;
    width: 30%;
    border: 3px solid #800000;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.problem {
    font-size: x-large;
}

.topbar {
    height: 10%;
    background-color: #FFD700;
    width: 100%;
    text-align: center;
    color: black;
    line-height: 100px;
    font-size: xx-large;
}

.blurb {
    margin: auto;
    text-align: center;
    width: 40%;
    font-style: italic;
    font-size: large;
}

.wheatCount {
    text-align: center;
    margin: auto;
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    border: 2px dotted black;
}

#lblWheatCount {
    font-size: xx-large;
}

.response {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.footer {
    height: 50px;
    font-size: x-small;
    background-color: #E0E0E0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 50px;
}

.submitButton {
    background-color: #507661;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 3px solid #849F90;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    text-shadow: -2px 4px 11px #2f6627;
}

.submitButton:hover {
    background-color: #517F58;
}